body {
    background-color: #191919;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    color: #EEC373;
    padding: 0 10vw;
}

.navbar-brand {
    font-size: 3vh;
    padding: 2vh 0;
}

.nav-item {
    font-size: 2vh;
}

header {
    padding-top: 80px;
    font-size: large;
    color: #EEC373;
    margin-bottom: 3%;
    text-align: center;
}

.all-cards {
    margin: 0 1vw;
    justify-content: center
}

.card {
    margin: 5vh 2vw;
}

.card-title {
    min-height: 7vh;
}

.card-body {
    background-color: #DBD0C0;
}

#footer {
    text-align: center;
    color: #EEC373;
    margin-top: auto;
    font-size: 2vh;
}

#footer > div > p > a {
    padding: 0 1vh;
    color: #EEC373;
}

a:link, a:visited, a:hover, a:active {
    color: black;
    text-decoration: none;
}

/* Login and Register form*/
.account-form, #submit {
    font-size: 2vh;
}

.account-form {
    color: #eec373;
    line-height: 3rem;
    padding-top: 7vh;
}

@media screen and (max-width: 440px) {
    nav {
        padding: 0 4vw;
    }

    .navbar-brand {
        font-size: 2vh;
    }
}

@media screen and (max-width: 416px) {
    .card {
        margin: 3vh 0vw;
    }

    .all-cards {
        margin: 0;
    }
}

@media screen and (max-width: 380px) {
    nav {
        padding: 0;
    }
}