.page-image {
    margin: 11vh 0 1vh 0;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: left bottom;
    width: 100%;
    height: 80vh;
}

.cafe-details {
    margin-bottom: 5vh;
}

.contents {
    background-color: #DBD0C0;
    background-size: cover;
    height: 450px;
    padding: 3vh;
    /*border-right: 5px solid #191919;*/
}

.mapouter {
    padding: 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}
/*
h2 {
    color: white;
}

hr {
    width: 90%;
}

button {
    margin-left: 40%;
}


p {
    font-size: medium;
}

*/

@media screen and (max-width: 991px ) {
    .contents {
        margin-bottom: 1vw;
        border: 0;
    }
}