<!-- FOOTER -->
  <footer id="footer">
      <div class="container-fluid">
        <p>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://web.facebook.com/" class="social-media" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/" class="social-media" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="mailto:webmaster@example.com" class="social-media" target="_blank"><i class="fas fa-envelope"></i></a>
        </p>
        <p>© Copyright 2021 CoffeeHouse</p>
      </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/cafe_site.min.js')}}"></script>

</body>

</html>