  <!-- FOOTER -->
  <div id="footer" style="text-align: center; color: #EEC373; ">
    <div class="container-fluid">
      <p><i class="fab fa-twitter"></i> <i class="fab fa-facebook-f"></i> <i class="fab fa-instagram"></i> <i class="fas fa-envelope"></i></p>
      <p>© Copyright 2021 CoffeeHouse</p>
  </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='js/cafe_site.min.js')}}"></script>

</body>

</html>